# Users Analysis

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
import pandas as pd
import ast

In [25]:
users = pd.read_csv(r'users.csv')
user_df = pd.DataFrame(users)

In [26]:
def book_hist_to_df(user_df, target_user_ID):
    """This function takes a row from the users database and returns the users reading history in a DataFrame."""    
    book_ratings = []
    for book in ast.literal_eval(user_df.iloc[target_user_ID]["book_history"]):
            book_ratings.append({"user_id": target_user_ID, "book": book["book"], "rating": book["rating"]})
    return pd.DataFrame(book_ratings)

In [29]:
book_hist_to_df(user_df,100)

    user_id                                               book  rating
0       100                           Make Me: Jack Reacher 20     4.2
1       100                                The Moonlight Child     4.5
2       100  The Girl with the Dragon Tattoo: The Millenniu...     4.7
3       100  Factfulness: Ten Reasons We're Wrong About the...     4.8
4       100  The Splendid and the Vile: A Saga of Churchill...     4.5
5       100  Factfulness: Ten Reasons We're Wrong About the...     4.4
6       100                        The Meaning of Mariah Carey     4.9
7       100  The Curious Incident of the Dog in the Night-T...     4.1
8       100                     Outliers: The Story of Success     4.6
9       100                    Every Breath: Booktrack Edition     4.8
10      100                         Trump: The Art of the Deal     5.0
11      100                                          Ugly Love     4.4
12      100               Twas The Nightshift Before Christmas     4.6
13      100                             In Five Years: A Novel     4.3
14      100                                 Alexander Hamilton     4.9
15      100                                         Steve Jobs     4.4
16      100                                         Steve Jobs     4.4